<?xml version="1.0"?>
<launch>
    <arg name="camera_name"          default="zed2i" />

    <!-- RGB-D related topics -->
    <arg name="rgb_topic"               default="/zed2i/zed_node/rgb/image_rect_color" />
    <arg name="depth_topic"             default="/zed2i/zed_node/depth/depth_registered" />
    <arg name="camera_info_topic"       default="/zed2i/zed_node/rgb/camera_info" />
    <!-- <arg name="depth_camera_info_topic" default="/zed2i/zed_node/depth/camera_info" /> -->
    <!-- <arg name="approx_sync"		        default="false"/> -->

    <!-- <arg name="visual_odometry"         default="false"/> -->
    <arg name="odom_topic"              default="/zed2i/zed_node/odom" />  <!-- Odometry topic name -->
    <group ns="$(arg camera_name)">

        <!-- Rviz -->
        <!--
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autumn_client)/rviz/zed-rtabmap.rviz" output="screen" /> 
        -->

        <!-- RTABmapviz -->
        <node name="rtabmapviz" pkg="rtabmap_ros" type="rtabmapviz" output="screen" args="" launch-prefix="">    
            <remap from="rgb/image"         to="$(arg rgb_topic)"/>
            <remap from="depth/image"       to="$(arg depth_topic)"/>
            <remap from="rgb/camera_info"   to="$(arg camera_info_topic)"/>

            <remap from="grid_map"          to="map" />
            <remap from="odom"              to="$(arg odom_topic)"/>
        </node> 
    </group>
</launch>