<?xml version="1.0"?>
<launch>

  <!-- Camera Parameters -->
  <arg name="svo_file"             default="" /> 
  <arg name="stream"               default="" /> 

  <arg name="zed_node_name"        default="zed_node" />
  <arg name="camera_model"         default="zed2i" />
  <arg name="publish_urdf"         default="true" />

  <arg name="camera_name"          default="zed2i" />

  <arg name="base_frame"           default="base_link" />


  <!-- Params for compression -->
  <arg name="rate"  default="3"/>
  <arg name="decimation"  default="1"/> <!-- Reduce the image size, e.g., 2 means "width/2 x height/2". -->
  <arg name="approx_sync" default="false" />
  <arg name="stereo_sync" default="true"/>
  <arg name="resolution" default="3"/>


  <!-- Use same nodelet used by ZED -->
  <group ns="$(arg camera_name)">

    <!-- start ZED Wrapper -->
    <include file="$(find zed_wrapper)/launch/include/zed_camera.launch.xml">
            <arg name="camera_name"         value="$(arg camera_name)" />
            <arg name="svo_file"            value="$(arg svo_file)" />
            <arg name="stream"              value="$(arg stream)" />
            <arg name="node_name"           value="$(arg zed_node_name)" />
            <arg name="camera_model"        value="$(arg camera_model)" />
            <arg name="base_frame"          value="$(arg base_frame)" />
            <arg name="publish_urdf"        value="$(arg publish_urdf)" />
    </include>

    <node pkg="nodelet" type="nodelet" name="data_throttle" args="load rtabmap_ros/data_throttle zed_node" output="screen">

      <param name="rate" type="double" value="$(arg rate)"/>
      <param name="decimation" type="int" value="$(arg decimation)"/>
      <param name="approx_sync" type="bool" value="$(arg approx_sync)"/>

      <remap from="rgb/image_in"         to="$(arg zed_node_name)/rgb/image_rect_color"/>
      <remap from="depth/image_in"       to="$(arg zed_node_name)/depth/depth_registered"/>
      <remap from="rgb/camera_info_in"   to="$(arg zed_node_name)/rgb/camera_info"/>
      
      <remap from="rgb/image_out"        to="$(arg zed_node_name)/throttled/rgb/image_rect_color"/>
      <remap from="depth/image_out"      to="$(arg zed_node_name)/throttled/depth/depth_registered"/>
      <remap from="rgb/camera_info_out"  to="$(arg zed_node_name)/throttled/rgb/camera_info"/>
    </node>
  </group>
</launch>
